$header-color: #262321;
$site-content-color: #4a4343;
$site-primary-color: #33302d;
$main-background-color: #111;
$mythic-score-color: #59acbd;
$main-orange-color: #F7A40E;
$main-orange-shadow: #C73F1C;
$character-details-header-color: #1A1716;
$item-level-color: #771eb3;
$item-level-color-special: #cc9f35;
$table-color-odd: #353535;
$table-color-even: #2F2F2F;
$table-color-hover: #252525;
$table-dungeon-level-star: #FFCF40;
$background-after-image-color: #172E42;

$extra-large-font-size: 40px;
$large-font-size: 24px;
$medium-font-size: 20px;
$small-medium-font-size: 18px;
$small-font-size: 16px;
$main-font: calibri, sans-serif;
$border-btn-ky: #C8761C;
$primary-btn-ky: #F48F22;
$primary-btn-higlight-ky: #f4b222;

$name-color-alliance: #144587;
$name-color-horde: #8C1616;

$class-color-death-knight: #C41F3B;
$class-color-demon-hunter: #A330C9;
$class-color-druid: #FF7D0A;
$class-color-hunter: #A9D271;
$class-color-mage: #40C7EB;
$class-color-monk: #00FF96;
$class-color-paladin: #F58CBA;
$class-color-priest: #FFFFFF;
$class-color-rogue: #FFF569;
$class-color-shaman: #0070DE;
$class-color-warlock: #8787ED;
$class-color-warrior: #C79C6E;