@import 'reset.css', 'typography.css', 'layout.css', 'variables', 'characters-class-colors';


.site-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;


    .panel {
        height: fit-content;
        background-color: $header-color;
        border: 2px solid $character-details-header-color;

        &-medium {
            background: $header-color;
            grid-column: 1 / span 2;
        }

        &-large {
            background: $header-color;
            grid-column: 1 / span 3;
            text-align: center;
            height: fit-content;

            h2 {
                font-size: $extra-large-font-size;
                color: $main-orange-color;
                text-shadow: -1px 0 $main-orange-shadow, 0 1px $main-orange-shadow 0 $main-orange-shadow, 0 -1px $main-orange-shadow;
            }
        }
    }

    .verkow-panel,
    .druudo-panel,
    .racor-panel {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;

        .character-avatar {
            margin-top: 0.5rem;
            margin-left: 1rem;
            border: 2px solid black;
            width: auto;
            height: 40%;
            flex: 0 0 auto;
        }

        p {
            color: white;
        }

        .character-text {
            flex: 0 0 30%;
            height: fit-content;
            margin-left: 3rem;
            text-align: center;

            .character-name {
                font-size: $extra-large-font-size;
            }
        }

        .mythic-score {
            margin-top: 0.5rem;
            flex: 0 0 20%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            font-size: $medium-font-size;

            .best-score {
                flex: 0 0 100%;
                border: 2px solid $main-background-color;
                background: $site-primary-color;
                font-weight: bold;
                color: $mythic-score-color;
                justify-self: center;
                width: fit-content;
                padding: 0 0.7rem;
                border-radius: 5px;
            }


            p {
                flex: 0 0 100%;
                display: inline;
            }

            .to-character-btn {
                border: 2px solid $main-background-color;
                background: $site-primary-color;
                color: gainsboro;
                font-weight: bold;
                text-decoration: none;
                padding: 0.2rem 1rem;
                border-radius: 5px;
            }

            .to-character-btn:hover {
                background: $site-content-color;
            }
        }

        .mythic-text {
            font-weight: bold;
            color: $mythic-score-color;
        }
    }

    .gear-container,
    .talent-container,
    .dungeon-score-conatiner {

        .container-header {
            color: white;
            text-align: center;
            font-size: $large-font-size;
            font-weight: bold;
            background: $character-details-header-color;
        }

        .container-items {
            display: flex;
            flex-flow: row wrap;
            margin: 1rem 1rem 0 1rem;
            justify-content: center;

            .gear-item,
            .talent-item {
                flex: 0 0 20%;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                margin-bottom: 1rem;

                .wowhead-link {
                    display: flex;
                    align-self: center;
                    width: fit-content;

                    .talent-icon {
                        height: auto;
                        align-self: center;
                        border: 2px solid $character-details-header-color;
                        border-radius: 3px;
                    }
                }

                .gear-icon {
                    height: auto;
                    align-self: center;
                    border: 2px solid $character-details-header-color;
                    border-radius: 3px;
                }


                .gear-level {
                    align-self: center;
                    width: fit-content;
                    margin-top: 0.5rem;
                    padding: 0 0.5rem;
                    color: white;
                    background: $item-level-color;
                    font-weight: bold;
                    border-radius: 2px;
                }

                .talent-level {
                    align-self: center;
                    width: fit-content;
                    margin-top: 0.5rem;
                    padding: 0 0.5rem;
                    color: white;
                    background: $character-details-header-color;
                    font-weight: bold;
                    border-radius: 2px;
                }

                .special {
                    background-color: $item-level-color-special;
                }
            }
        }

        .dungeons-table {
            width: 100%;
            color: white;

            th {
                background: $header-color;
            }

            tr {
                height: 2rem;
            }

            tr:nth-child(even) {
                background-color: $table-color-even;
            }

            tr:nth-child(odd) {
                background-color: $table-color-odd;
            }

            tr:hover {
                background-color: $table-color-hover;
            }

            .dungeon {
                display: flex;
                padding-top: 0.5rem;

                .dungeon-name {
                    margin-left: 2rem;
                    display: inline;
                }

                .dungeon-icon {
                    padding-left: 1rem;
                    float: left;
                    width: 20px;
                    height: auto;
                }
            }

            .dungeon-level .fa-star {
                color: $table-dungeon-level-star;
                font-size: 6px;
            }

            .dungeon-affixes .dungeon-affixes-icon {
                margin-top: 0.3rem;
                width: 20px;
                height: auto;
            }
        }
    }

}