@import 'variables';

.site-header {
    background: $header-color;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .site-nav > a{
        text-decoration: none;
        border: 1px solid $primary-btn-ky;
        border-radius: 5px;
        font-size: $medium-font-size;
        background: $border-btn-ky;
    }
    .page-header-text {
        color: white;
    }
}

body {
    background: $main-background-color;
}

.site-content {
    margin: 3rem 15rem;
    padding: 2rem;
    background: $site-primary-color;
    width: 70vw;
}