@import 'variables';

.site-header {
    width: 100%;
    background: $header-color;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .site-nav {
        margin-right: 15rem;
        margin-top: 0.5rem;

        a {
            text-decoration: none;
            padding: 0.2rem 0.5rem;
            margin-left: 0.5rem;
            font-weight: bold;
            color: white;
            border: 2px solid $border-btn-ky;
            border-radius: 5px;
            font-size: $medium-font-size;
            background: $primary-btn-ky;
        }

        a:hover {
            background: $primary-btn-higlight-ky;
        }
    }

    .page-header-text {
        margin-left: 15rem;
        color: white;
    }
}

body {
    background-image: url('./../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-after-image-color;
}

.site-content {
    margin: 3rem 15rem;
    padding: 2rem;
    background: $site-primary-color;
    max-width: 80vw;
    border: 2px solid $main-background-color;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  