@import url(reset.css);
@import url(typography.css);
@import url(layout.css);
.race-human {
  font-size: 18px;
  font-weight: bold;
  color: #144587; }

.race-tauren {
  font-size: 18px;
  font-weight: bold;
  color: #8C1616; }

.class-paladin {
  font-size: 18px;
  font-weight: bold;
  color: #F58CBA; }

.class-druid {
  font-size: 18px;
  font-weight: bold;
  color: #FF7D0A; }

.class-warlock {
  font-size: 18px;
  font-weight: bold;
  color: #8787ED; }

.site-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  .site-content .panel {
    height: 20rem;
    padding: 0.5rem;
    background-color: #262321;
    border: 2px solid #1A1716; }
    .site-content .panel-medium {
      background: #262321;
      grid-column: 1 / span 2; }
    .site-content .panel-large {
      background: #262321;
      grid-column: 1 / span 3;
      text-align: center;
      height: fit-content; }
      .site-content .panel-large h2 {
        font-size: 40px;
        color: #F7A40E;
        text-shadow: -1px 0 #C73F1C, 0 1px #C73F1C 0 #C73F1C, 0 -1px #C73F1C; }
      .site-content .panel-large .select-character {
        font-size: 24px;
        color: white; }
      .site-content .panel-large .select-character span {
        animation-name: blink;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        /**
                 * This makes sure that the starting style (opacity: .2)
                 * of the animation is applied before the animation starts.
                 * Otherwise we would see a short flash or would have
                 * to set the default styling of the dots to the same
                 * as the animation. Same applies for the ending styles.
                 */
        animation-fill-mode: both; }
      .site-content .panel-large .select-character span:nth-child(2) {
        animation-delay: .2s; }
      .site-content .panel-large .select-character span:nth-child(3) {
        animation-delay: .4s; }

@keyframes blink {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .site-content .verkow-panel, .site-content .druudo-panel, .site-content .racor-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .site-content .verkow-panel p, .site-content .druudo-panel p, .site-content .racor-panel p {
      color: white; }
    .site-content .verkow-panel .character-avatar, .site-content .druudo-panel .character-avatar, .site-content .racor-panel .character-avatar {
      margin-top: 0.5rem;
      border: 2px solid black;
      width: auto;
      height: 40%; }
    .site-content .verkow-panel .character-text, .site-content .druudo-panel .character-text, .site-content .racor-panel .character-text {
      height: fit-content;
      text-align: center; }
      .site-content .verkow-panel .character-text .character-name, .site-content .druudo-panel .character-text .character-name, .site-content .racor-panel .character-text .character-name {
        font-size: 40px; }
    .site-content .verkow-panel .mythic-score, .site-content .druudo-panel .mythic-score, .site-content .racor-panel .mythic-score {
      text-align: center;
      font-size: 20px; }
      .site-content .verkow-panel .mythic-score .best-score, .site-content .druudo-panel .mythic-score .best-score, .site-content .racor-panel .mythic-score .best-score {
        border: 2px solid #111;
        background: #33302d;
        font-weight: bold;
        color: #59acbd;
        display: inline;
        padding: 0 0.7rem;
        border-radius: 5px; }
      .site-content .verkow-panel .mythic-score p, .site-content .druudo-panel .mythic-score p, .site-content .racor-panel .mythic-score p {
        margin: 0.5rem 0; }
      .site-content .verkow-panel .mythic-score .season, .site-content .druudo-panel .mythic-score .season, .site-content .racor-panel .mythic-score .season {
        margin-bottom: 1rem; }
      .site-content .verkow-panel .mythic-score .to-character-btn, .site-content .druudo-panel .mythic-score .to-character-btn, .site-content .racor-panel .mythic-score .to-character-btn {
        border: 2px solid #111;
        background: #33302d;
        color: gainsboro;
        font-weight: bold;
        text-decoration: none;
        padding: 0.2rem 1rem;
        border-radius: 5px; }
      .site-content .verkow-panel .mythic-score .to-character-btn:hover, .site-content .druudo-panel .mythic-score .to-character-btn:hover, .site-content .racor-panel .mythic-score .to-character-btn:hover {
        background: #4a4343; }
    .site-content .verkow-panel .mythic-text, .site-content .druudo-panel .mythic-text, .site-content .racor-panel .mythic-text {
      font-weight: bold;
      color: #59acbd; }
